<div class="content">
    <form class="modal-content" action="/users/login" method="POST">
        <div class="container">
            <h1>Entrar</h1>
            <p>Por favor, preencha seus dados.</p>
            <hr>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Insira o email" name="email" required>

            <label for="senha"><b>Senha</b></label>
            <input type="password" placeholder="Insira a senha" name="senha" required>

            <a style='color: black' href='/' class="">Voltar</a></br>
            <a style='color: black' href='/registrar' class="">Cadastrar nova conta</a>

            <div class="clearfix">
                <button type="submit" class="signupbtn">Entrar</button>
            </div>
        </div>
    </form>
</div>