<div class="content">
    <form class="modal-content" action="/admin/login" method="POST">
        <div class="container">
            <h1>ADM</h1>
            <p>Área restrita.</p>
            <hr>
            <label for="nome"><b>Nome</b></label>
            <input type="text" placeholder="Insira o nome" name="nome" required>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Insira o email" name="email" required>

            <label for="senha"><b>Senha</b></label>
            <input type="password" placeholder="Insira a senha" name="senha" required>

            <a style='color: black' href='/' class="">Voltar</a></br>

            <div class="clearfix">
                <button type="submit" class="signupbtn">Entrar</button>
            </div>
        </div>
    </form>
</div>